<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title-box">
            <h3>X_average</h3>
            <span>X amplitude average during the day</span>
        </div>                                        
    </div> 
    <div class="isize">
        <i class="glyphicon glyphicon-stats"></i>
        </div>                               
    <div class="panel-body padding-0">
        <div class="sty">
                
            50
        </div>
    </div>                                    
</div>