<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title-box">
            <h3>TimeAccumulated</h3>
            <span>Count accumulated during the day</span>
        </div>
                          
    </div>         
    <div class="isize">
        <i class="fa fa-clock-o"> </i>
    </div>
        
    <div class="panel-body padding-0" (click)="garago=30" >
        <div class="sty">
                <!-- <i class="fa fa-clock-o"> </i> -->

            {{garago}}
        </div>
    </div>                                    
</div>